@import "../../styles/variaveis.css";

.login__container {
  border: 1px solid rgba(102, 102, 102, 0.8);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.35);
  font-family: var(--font-roboto);
}

.row > * {
  padding: 0px;
}
.login__input {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
}
.login__img {
  border-radius: 0px 10px 10px 0px;
}

.login__button {
  padding: 15px;
  border-radius: 0px;
  width: 17rem;
  background-color: #d97706;
  border: 0px;
}
.login__button:hover {
  background-color: #b96505;
}

body {
  background-color: #fff8f0;
}
