.modalContent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.conteudoModal {
  position: relative;
  top: 20%;
  left: 56%;
  transform: translate(-50%, 50%);
  background-color: white;
  border-radius: 12px;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.containerFechar {
  position: absolute;
  top: 0px;
  right: 10px;
}


.botaoFechar {
  background-color: white;
  border: none;
  font-size: x-large;
  cursor: pointer;
}

.childrenConteudo h2{
  text-align: center;
}

.childrenConteudo form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .childrenConteudo input{
  padding: 1rem;
} */
.childrenConteudo button{
  padding: 5px 20px 5px 20px;
  border-radius: 12px;
  border: none;
  background-color: rgb(0, 94, 255);
  color: white;
}
.childrenConteudo button:hover{
  background-color: blue;
}