body {
  background-color: #fff8f0;
}

.plano__coluna {
  border: 1px solid rgba(0, 0, 0, 0.2);;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.plano__item {
  padding: 1rem;
  height: max-content;
}

.plano_atual{
  width: 100%;
}

.plano_atualizacao{
  padding: 5px;
  font-size: 1rem;
  width: 200px;
  border: #000000 1px solid;
  border-radius: 5px;
}
.plano__imagem {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.plano__titulo {
  margin-top: 1rem;
}
.plano__preco {
  margin-bottom: 1rem;
  font-size: 2.19rem;
  color: rgba(0, 0, 0, 0.2);
}
.plano__lista {
  padding: 1rem 2rem 0.2em;
  text-align: start;
  list-style: none;
  min-height: 15em;
}

.plano__botao {
  margin-bottom: 1rem;
  width: 85%;
  padding: 10px;
  text-align: center;
  background-color: #1FAF30;
  border: 0px solid rgba(0, 0, 0, 0.2);;
}
.plano__botao:hover {
  margin-bottom: 1rem;
  width: 85%;
  padding: 10px;
  text-align: center;
  background-color: #0e811c;
}

.plano__item__caracteristica {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 1.5em;
  color: #333;
}

.plano__item__caracteristica::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4em;
  width: 0.7em;
  height: 0.7em;
  background-color: #6D6D6D;
  border-radius: 50%;
}

.plano__preco_unidade{
  font-size: 1.2rem;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs{
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}