.viewConteudo h1{
    text-align: center;
    padding-top: 1rem;
}

.alinhamento{
    display: flex;
    justify-content: center;
}
.orgContent {
    display: flex;
    flex-direction: column;
    width: 42vw;
}
.cardInfo{
    border: 1px solid black;
    border-top: none;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.estiloGap{
  display: flex;
  gap: 10px;
}
.nomeCliente{
  font-size: large;
  font-weight: bold;
}
.layoutInfoPerson{
  display: flex;
  gap: 10px;
  color: grey;
}
.position{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.position img{
  cursor: pointer;
}
.position2{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.position2 img{
  cursor: pointer;
}
.filtros{
    display: flex;
    gap: 20px;
    padding: 1rem 1.5rem 1rem 1.5rem ;
    background-color: #bf6a04;
    color: white;
    border-radius: 8px 8px 0px 0px;
    justify-content: space-between;
}
.filtros select{
    padding: 3px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
}
.pesquisa{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
  
  
  /* ---------------------------------------------------------------------------------------------- */

.estiloModal label{
  font-weight: bold;
}


.estiloTitulo{
  text-align: center;
}
.tele{
  display: flex;
  gap: 5px;
}
.estiloEndereco{
  display: flex;
  flex-direction: column;
}
.quadro{
  border: 1px solid rgb(0, 0, 0, 0.3);
  padding: 10px;
}
.servicosFavority{
  padding-left: 10px;
}