.areaDoCadastro h2 {
  text-align: center;
  padding: 1rem 1rem;
}
.cardCadastro {
  display: grid;
  grid-template-areas: "lx form view";
  grid-template-columns: 1fr 2fr 1fr 1fr; /* Ajuste como quiser */
  gap: 2rem;
}
.formCadastro {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
.formCadastro input {
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}
.formCadastro #inputLema {
  resize: none;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.viewImg {
  grid-area: view;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 70%;
}
.viewImg img {
  border-radius: 100%;
}
.btn {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 1rem;
}
.btn Button {
  padding: 5px 10px;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  color: white;
}

@media (max-width: 768px) {
  .formCadastro,
  .viewImg {
    width: 90vw;
  }
}

.botao__cadastrar {
  background-color: #1FAF30;
  border: 1px #1FAF30;
}

.botao__cadastrar:hover {
  background-color: #0e811c;
  border: 1px #0e811c;
}

