.layoutDashboard{
  display: flex;
  height: 100vh; 
}

.layoutDashboard > div:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.navBarEmpresa{
  justify-content: center;
  height: 100%;
  margin: 1rem 1rem 1rem 1rem;
  background-color: white;
  border-radius: 20px 20px 20px 20px ;
  border: 1px solid rgb(0, 0, 0, 0.3);
  overflow: auto;
}

.porfavorDeus{
    background-color: #9d4005 !important;
}
.dropdown-menu {
  background-color: #9d4005 !important;
}

.dropdown-item {
  color: #9d4005 !important;
}

