.botao_cancelar {
  padding: 10px;
  width: 110px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #f44336; /* Red */
}
.botao_salvar {
  padding: 10px;
  width: 110px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* Green */
}
.botoes_agendamento {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.botao__cancelar{
  background-color: #f44336; /* Red */
  border: 1px solid #f44336;
  font-size: 18px;
  width: 130px;
}

.botao__cancelar:hover {
  background-color: #d32f2f; /* Darker Red */
  border: 1px solid #d32f2f;
}