.estiloEspecie{
    border: 1px solid black;
    border-radius: 10px;
    font-size: smaller;
    padding: 1px 3px 1px 3px;
}
.estiloNome{
    font-weight: bold;
}
.estiloDono{
    font-size: small;
    color: grey;
}

.miniCard{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.suporte{
    display: flex;
    gap: 10px;
}


.bttn{
    background-color: white;
    border: none;
}
