/* ==================================== TITULO ================================= */
.layoutLista h1{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}


/* ==================================== LAYOUT ================================= */

.orgContent {
    display: flex;
    flex-direction: column;
    width: 48vw;

}
.alinhamento{
    display: flex;
    justify-content: center;
}

/* ==================================== BARRA DE PESQUISA ================================= */

.pesquisa{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.pesquisa input{
    width: 100%;

}

/* ==================================== FILTROS ================================= */

.filtros{
    display: flex;
    gap: 20px;
    padding: 1rem 1.5rem 1rem 1.5rem ;
    background-color: rgb(9, 4, 163);
    color: white;
    border-radius: 8px 8px 0px 0px;
    justify-content: space-between;
}
.filtros select{
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
}

/* ==================================== INFORMAÇÕES ================================= */

.subInfo{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    gap: 7px;
}
.cardInfo{
    border: 1px solid black;
    border-top: none;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* ==================================== MODAL ORGANIZAÇÃO ================================= */

.espaco_entre_divs{
    display: flex;
    justify-content: space-between;
}
.__espaco__{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.__estilo_pequeno__{
    display: flex;
    gap: 5px;
}
.__estilo_bold__{
    font-weight: bold;
}
/* ==================================== ESTILO DOS CAMPOS ================================= */

.estiloCampos{
    display: flex;
    flex-direction: column;
}
.estiloCampos input{
    width: 97%;
}
.estiloCampos textarea{
    resize: none;
}