/* ==================================== TITULO ================================= */
.layoutLista h1{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}


/* ==================================== LAYOUT ================================= */

.orgContent {
    display: flex;
    flex-direction: column;
    width: 42vw;

}
.alinhamento{
    display: flex;
    justify-content: center;
}

/* ==================================== BARRA DE PESQUISA ================================= */

.pesquisa{
    padding-bottom: 1rem;
}
.pesquisa input{
    width: 100%;
    padding: 7px;
    border-radius: 20px;
}

/* ==================================== FILTROS ================================= */

.filtros{
    display: flex;
    gap: 20px;
    padding: 1rem 1.5rem 1rem 1.5rem ;
    background-color: rgb(166, 83, 38);
    /* background-color: rgb(61, 162, 245); */
    color: white;
    border-radius: 8px 8px 0px 0px;
    justify-content: space-between;
}
.filtros select{
    padding: 3px;
    border-radius: 5px;
}

/* ==================================== INFORMAÇÕES ================================= */

.subInfo{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    gap: 7px;
}

/* ==================================== SELECTS ================================= */

.slct{
    background-color: rgb(166, 83, 38);
    /* background-color: rgb(61, 162, 245); */
    color: white;
    border-color:1px solid black;
    padding: 2px;
}
/* ==================================== BOTÃO DA SETA ================================= */

/* ==================================== MODAL ================================= */

.infoModal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgb(255, 255, 255);
  z-index: 5;
}

.estiloModal{
    background-color: rgb(166, 83, 38);
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    transform: translate(123%, 15%);
    border-radius: 12px;
    padding: 1.5rem;
}
/* ==================================== MODAL ORGANIZAÇÃO ================================= */

.orgLayoutCampos{
    display: flex;
    justify-content: space-between;
}

.spanFechar{
    cursor: pointer;
    position: relative;
    z-index: 10;
    transform: translate(65%,490%);
    color: rgb(255, 255, 255);
}
/* ==================================== ESTILO DOS CAMPOS ================================= */

.estiloCampos{
    display: flex;
    flex-direction: column;
}
.estiloCampos input{
    width: 97%;
}
.estiloCampos textarea{
    resize: none;
}