.cardInfo {
  border: 1px solid black;
  border-top: none;
  padding: 1rem 1.5rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; 
}

.petInfoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imagem_raca {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}

.nomeCliente {
  font-size: large;
  font-weight: 700;
}

.layoutInfoPerson {
  display: flex;
  gap: 10px;
  color: grey;
}

.position {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.position img {
  cursor: pointer;
}
.position2 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.position2 img {
  cursor: pointer;
}

.alinhamentoImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
