/* --------------------------------------- Organização da pagina ------------------------------------------ */
.viewConteudo h1{
  text-align: center;
  padding-top: 1rem;
}
.alinhamento{
  display: flex;
  justify-content: center;
}
.orgContent {
  display: flex;
  flex-direction: column;
  width: 42vw;
}
/* --------------------------------------- Pesquisa e filtros --------------------------------------------- */

.filtros{
  display: flex;
  gap: 20px;
  padding: 1rem 1.5rem 1rem 1.5rem ;
  background-color: #bf6a04;
  color: white;
  border-radius: 8px 8px 0px 0px;
  justify-content: space-between;
}
.filtros select{
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    border: none;
    color: black;
}
.pesquisa{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
/* --------------------------------------- Estilo Cards Funcionario ---------------------------------------- */
.nomeFuncionario{
  font-size: large;
  font-weight: bold;
}
.cardInfo{
    border: 1px solid black;
    border-top: none;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.layoutInfoPerson{
  display: flex;
  gap: 10px;
  color: grey;
}
.position{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.position img{
  cursor: pointer;
}
.position2{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.position2 img{
  cursor: pointer;
}
.listaDeFuncionario{
  max-height: 400px;  /* limita a altura */
  overflow-y: auto;   /* ativa rolagem se passar da altura */
}
/* --------------------------------------- Layout Formulario ---------------------------------------------- */
.customeForm button{
  padding: 5px 20px 5px 20px;
  border-radius: 12px;
  border: none;
  transition: background-color 0.3s ease;
  background-color: #1FAF30;
  color: white;
}
.customeForm button:hover{
  background-color: #0e811c;
}

.customeForm .controlaCampos{
  display: flex;
  flex-direction: column;
}
.posicaoBotaoForm{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
/* ------------------------------------------ Campos Formulario -------------------------------------------- */
.controlaCampos {
  margin-bottom: 0.2em;
}

.controlaCampos input{
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 1rem;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
  outline: none;
  margin-bottom: 0.5em;
}
.controlaCampos input:focus{
  border-color: #1FAF30;
  box-shadow: 0 0 10px rgba(31, 175, 48, 0.6); 
}
.controlaCampos select{
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 1rem;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
  outline: none;
  margin-bottom: 0.5em;

}
.controlaCampos select:focus{
  border-color: #1FAF30;
  box-shadow: 0 0 10px rgba(31, 175, 48, 0.6); 
}

.controlaCampos:last-child {
  margin-bottom: unset;
}
/* ----------------------------------- Tamanho da lista de Funcionario ------------------------------------- */
.listFuncionarioLimit{
  max-height: 300px; 
  overflow-y: auto;  
  overflow-x: hidden;
}
/* ------------------------------------------ Botão adicionar ---------------------------------------------- */
.estiloBotao{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.estiloBotao button{
  padding: 5px 20px 5px 20px;
  border-radius: 12px;
  border: none;
  background-color: #1FAF30;
  transition: background-color 0.3s ease;
  color: white;
}
.estiloBotao button:hover{
  background-color: #0e811c;
}