form label,
form .form-label {
  display: block;
}
.containergeral {
  max-width: 100%;
}

.cadatrar_agendamento {
  max-width: 900px;
  margin: auto;
  padding: 0 15px;
}

.cadastrar_agendamento__title {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.datepicker-grande {
  width: 100%;
  box-sizing: border-box;
}

.rs-input-group-md.rs-input-group > .rs-input,
.rs-input-group-md.rs-input-group > .rs-input-group-addon {
  height: 38px;
  font-size: 1.03rem;
}

.campos-espaco {
  margin-right: 15px;
}

.form-servico {
  width: 20rem;
}

.form-agendamento {
  border-radius: 8px !important;
}

.button-adicionar {
  padding: 8px 12px;
}

.button-agendamento {
  width: 100%;
  padding: 8px 25px;
  margin-top: 1rem;
  background-color: #1faf30;
  border: 1px #1faf30;
}
.button-agendamento:hover {
  background-color: #0e811c;
  border: 1px #0e811c;
}

h1 {
  font-size: 2.5rem;
}

.form-agendamento {
  border-radius: 0px 8px 8px 0px !important;
}

.botao_cadastrar {
  background-color: #1FAF30;
  border: 1px #1FAF30;
}

.botao_cadastrar:hover {
  background-color: #0e811c;
  border: 1px #0e811c;
}

