body {
  background-color: #fff8f0;
}

.plano__section {
  margin-top: 30px;
}
.plano__linha {
}
.plano__coluna {
  border: 1px solid #a7a7a7;
  padding: 2rem;
  height: 700px;
}
.plano__item {
}
.plano__imagem {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.plano__titulo {
}
.plano__preco {
}
.plano__lista {
  text-align: start;
}
